.user_info {
    margin-bottom: 10px;
    display: flex;
}

.username {
    padding-top: 8px;
    padding-left: 10px;
    font-size: 24px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
}

.profile_photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}