.back_to_profile {
    display: flex;
    justify-content: space-right;
    font-size: 24px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 10px;
}

.back_to_profile img {
    margin-right: 10px;
}

.back_to_profile p {
    margin-top: 7px;
}

.post_description, .full_text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.caption {
    margin-bottom: 10px;
}

.likes {
    display: flex;
	justify-content: space-between;
}

.likes img {
    margin-right: 10px;
}

.date_and_likes p {
    margin-top: 7px;
}