.back_link {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-right;
    font-size: 24px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
}

.back_link img {
    margin-right: 10px;
}

.back_link p {
    margin-top: 7px;
}

.more_button {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #a4e5ff;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}