body {
	font-size: 24px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
}

.username {
    padding-bottom: 10px;
}

.user_info {
    display: flex;
	justify-content: space-between;
	font-size: 14px;
}

.info_link {
    margin-top: 10px;
    text-align: center;
}

.amount {
    font-size: 24px;
}

.user_photo {
    margin-bottom: 10px;
    width: 64px;
    height: 64px;
}

.posts {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-right;
}

.post {
    margin: 4px;
    width: 31%;
    height: 31%;
}

.post_photo {
    width: 100%;
    height: width;
}

.unsubscribe_btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fbb3b3;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

.subscribe_btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #a4e5ff;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border-radius: 8px;
}