 .post {
    margin-top: 10px;
 }

.back_to_profile {
    display: flex;
    justify-content: space-right;
    font-size: 24px;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
}

.back_to_profile img {
    margin-right: 10px;
}

.back_to_profile p {
    margin-top: 7px;
}

.info_and_data {
    font-size: 16px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	display: flex;
    flex-direction: column;
}

.info_and_data p {
    margin-top: 10px;
	margin-bottom: 10px;
}

.views_and_data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.views {
    display: flex;
    justify-content: space-left;
}

.views p {
    margin-top: 8px;
    font-size: 16px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
}

.views img {
    margin-left: 10px;
}

.full_post_btn {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    width: 100%;
    height: 40px;
    background: #a4e5ff;
    border-radius: 8px;
    margin-bottom: 40px;
}