body, footer {
    margin: 0 auto;
    max-width: 412px;
}

.body_bg {
    padding: 10px;
    max-width: 412px;
    min-height: 100%;
    background: #f3f3f3;
}

a:link, a:active, a:visited {
    color: #000000;
}