{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authorization.css') }}">

<img class="start_icon" src="{{ url_for('static', filename='img/icon.jpg') }}" alt="start_icon"/>

<form class="auth_form">
    <input type="text" placeholder="login">
    <input type="password" placeholder="password">
    <button type="submit" name="authorization">authorization</button>
    <button type="submit" name="registration">registration</button>
</form>
{% endblock %}