{% extends 'authorized_base.html' %}

{% block title %}News line{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/common/news_line.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common/post_img.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/user_posts.css') }}">
{% endblock %}

{% block body %}

<div class="news_line_post">
    {% for post in posts %}
        <div class="user_info">
            <a href="/profile/{{ post['username'] }}">
                <img class="profile_photo" src="{{ url_for('static', filename=post['user_photo']) }}"/>
            </a>
            <p class="username">{{ post['username'] }}</p>
        </div>

        <img class="post_img" src="{{ url_for('static', filename=post['img']) }}"/>

        <div class="info_and_data">
            <p class="caption">{{ post.caption }}</p>
            <div class="views_and_data">
                <p>{{ post['date'] }}</p>
                <div class="views">
                    <p>{{ post['views'] }}</p>
                    <img src="{{ url_for('static', filename='img/views.svg') }}" alt="views" width="34">
                </div>
            </div>
        </div>

        <a href="/post/{{ post['username'] }}/{{ post['number'] }}">
            <button class="full_post_btn">Show more</button>
        </a>
    {% endfor %}
</div>
{% endblock %}