{% extends 'authorized_base.html' %}

{% block title %}News line{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/common/news_line.css') }}">
<div class="news_line_post">
    {% for post in posts %}
    <div class="user_info">
        <a href="/profile/{{ post['username'] }}">
            <img class="profile_photo" src="{{ url_for('static', filename=post['user_photo']) }}"/>
        </a>
        <p class="username">{{ post['username'] }}</p>
    </div>
    <img class="news_line_post_img" src="{{ url_for('static', filename=post['img']) }}"/>
    <div class="post_description">
        <p>{{ post['caption'] }}</p>
        <div class="date_and_likes">
            <div class="likes">
                <img src="{{ url_for('static', filename='img/like_empty.svg') }}" alt="like" width="34">
                <p>amount</p>
            </div>
            <p>{{ post['date'] }}</p>
        </div>
    </div>
    <p>{{ post['full_text'] }}</p>
    <hr>
    <br>
    {% endfor %}
</div>
{% endblock %}
