{% extends 'authorized_base.html' %}

{% block title %}Post{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/common/post.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common/post_img.css') }}">
{% endblock %}

{% block body %}

<a class="back_to_profile" href="/profile/{{ profile_holder.username }}">
    <img src="{{ url_for('static', filename='img/back_arrow.svg') }}" alt="post.alt" width="36"/>
    <p>to profile</p>
</a>

<a class="back_to_profile" href="/user_posts/{{ profile_holder.username }}">
    <img src="{{ url_for('static', filename='img/back_arrow.svg') }}" alt="post.alt" width="36"/>
    <p>to user's posts</p>
</a>

<img class="post_img" src="{{ url_for('static', filename=current_post['img']) }}"/>

<div class="post_description">
    <p class="caption">{{ current_post['caption'] }}</p>
    <div class="date_and_likes">
        <div class="likes">
             <a href="/like/{{ profile_holder.username }}/{{ post_number }}/{{ user.username }}">
                {% if user.username in current_post.likes %}
                    <img src="{{ url_for('static', filename='img/like_full.svg') }}" alt="like" width="34">
                {% else %}
                    <img src="{{ url_for('static', filename='img/like_empty.svg') }}" alt="like" width="34">
                {% endif %}
            </a>

            <p>{{ likes_amount }}</p>
        </div>
        <p>{{ current_post['date'] }}</p>
    </div>
</div>
<p class="full_text">{{ current_post['full_text'] }}</p>
{% endblock %}