{% extends 'authorized_base.html' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="user_info">
        <img class="profile_photo" src="{{ url_for('static', filename=current_post['user_photo']) }}"/>
        <p class="username">{{ current_post['username'] }}</p>
    </div>
    <img class="news_line_post_img" src="{{ url_for('static', filename=current_post['img']) }}"/>
    <div class="post_description">
        <p>{{ current_post['caption'] }}</p>
        <div class="date_and_likes">
            <div class="likes">
                <img src="{{ url_for('static', filename='img/like_empty.svg') }}" alt="like" width="34">
                <p>amount</p>
            </div>
            <p>{{ current_post['date'] }}</p>
        </div>
    </div>
    <p>{{ current_post['full_text'] }}</p>
    <hr>
    <br>
{% endblock %}