{% extends 'authorized_base.html' %}

{% block title %}Search{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/common/search.css') }}">
{% endblock %}

{% block body %}
<form method="post">
    <fieldset class="search_mode">
        <legend>Select search mode:</legend>
        <div>
            <input type="radio" id="profiles" name="mode" value="profiles" checked>
            <label for="profiles">Profiles</label>
        </div>

        <div>
            <input type="radio" id="posts" name="mode" value="posts">
            <label for="posts">Posts</label>
        </div>
    </fieldset>

    <div class="request" >
        <input type="text" name="request" placeholder="request">
        <a href="/search_result">
            <button class="start_search_button" type="submit">Search</button>
        </a>
    </div>
</form>

<a  href="/profile/{{ profile_holder.username }}">
    <button class="cancel_button" type="button">Cancel</button>
</a>
{% endblock %}