{% extends 'authorized_base.html' %}

{% block title %}Search{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/common/search.css') }}">
{% endblock %}

{% block body %}
<fieldset class="search_mode">
    <legend>Select search mode:</legend>
    <div>
        <input type="radio" id="profiles" name="mode">
        <label for="profiles">Profiles</label>
    </div>

    <div>
        <input type="radio" id="posts" name="mode">
        <label for="posts">Posts</label>
    </div>
</fieldset>

<div class="request" >
    <input type="text" name="request" placeholder="request">
    <button class="start_search_button" type="button">Search</button>
</div>

<button class="cancel_button" type="button">Cancel</button>
{% endblock %}