{% extends 'base.html' %}

{% block footer %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authorized_base.css') }}">

<footer>
    <a href="/exit"><img class="footer_icon" src="{{ url_for('static', filename='img/footer/exit_icon.svg') }}"></a>
    <a href="/edit_profile"><img class="footer_icon" src="{{ url_for('static', filename='img/footer/edit_icon.svg') }}"></a>
    <a href="/search"><img class="footer_icon" src="{{ url_for('static', filename='img/footer/search_icon.svg') }}"></a>
    <a href="/news_line"><img class="footer_icon" src="{{ url_for('static', filename='img/footer/posts_icon.svg') }}"></a>
    <a href="/profile"><img class="footer_profile_photo" src="{{ url_for('static', filename='img/icon.jpg') }}"></a>
</footer>
{% endblock %}