{% extends 'authorized_base.html' %}

{% block title %}Profile{% endblock %}
{% block body %}
<link rel="stylesheet" href="static/css/profile.css">

<div class="username">
    <h1>Username</h1>
</div>

<div class="user_info">
    <a href="/load_user_photo"><img class="user_photo" src="static/img/icon.jpg" alt="user_photo" width="64"/></a>
    <a class="info_link" href="/user_posts">
        <div>
            <div class="amount">0</div>
            <div>Posts</div>
        </div>
    </a>
    <a class="info_link" href="/followers">
        <div>
            <div class="amount">0</div>
            <div>Followers</div>
        </div>
    </a>
    <a class="info_link" href="/subscriptions">
        <div>
            <div class="amount">0</div>
            <div>Subscriptions</div>
        </div>
    </a>
</div>

<div class="posts">
<!--    {% for post in posts %}-->
<!--    <a href="/post">{{ post }}</a>-->
<!--    {% endfor %}-->
    {% for post in posts %}
    <div class="post">
        <a href="/post"><img class="post_photo" src="static/img/icon.jpg" alt="user_photo"/></a>
    </div>
    {% endfor %}
</div>

{% endblock %}
