{% extends 'authorized_base.html' %}

{% block title %}Profile {{ profile_holder.username }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/profile.css') }}">
{% endblock %}

{% block body %}

<div class="username">
    <h1>{{ profile_holder.username }}</h1>
</div>

<div class="user_info">
    <img class="user_photo" src="{{ url_for('static', filename=profile_holder.user_photo) }}" alt="user_photo" width="64"/>
    <a class="info_link" href="/user_posts/{{ profile_holder.username }}">
        <div>
            <div class="amount">{{ user_links['posts_amount'] }}</div>
            <div>Posts</div>
        </div>
    </a>
    <a class="info_link" href="/users_list/{{ 'Followers' }}/{{ profile_holder.username }}">
        <div>
            <div class="amount">{{ user_links['followers_amount'] }}</div>
            <div>Followers</div>
        </div>
    </a>
    <a class="info_link" href="/users_list/{{ 'Subscriptions' }}/{{ profile_holder.username }}">
        <div>
            <div class="amount">{{ user_links['subscriptions_amount'] }}</div>
            <div>Subscriptions</div>
        </div>
    </a>
</div>

<a href="/subscribe/{{ profile_holder.username }}">
    {% if profile_holder.username not in user.subscriptions %}
        <button class="subscribe_btn" type="button">Subscribe</button>
    {% else %}
        <button class="unsubscribe_btn" type="button">Unsubscribe</button>
    {% endif %}
</a>

<div class="posts">
    {% if user_links['posts_amount'] > 0 %}
        {% for post in profile_holder.posts %}
        <div class="post">
            <a href="/post/{{ profile_holder.username }}/{{ post['number'] }}">
                <img class="post_photo" src="{{ url_for('static', filename=post['img']) }}" alt="user_post_photo"/>
            </a>
        </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
