{% extends 'authorized_base.html' %}

{% block title %}Posts{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/user_posts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common/post_img.css') }}">
{% endblock %}

{% block body %}

<a class="back_to_profile" href="/profile/{{ username }}">
    <img src="{{ url_for('static', filename='img/back_arrow.svg') }}" alt="post.alt" width="36"/>
    <p>to profile</p>
</a>

{% if posts != 0 %}
    {% for post in posts %}
    <div class="post">
        <img class="post_img" src="{{ url_for('static', filename=post['img']) }}" alt="post.alt"/>

        <div class="info_and_data">
            <p class="caption">{{ post.caption }}</p>
            <div class="views_and_data">
                <p>{{ post['date'] }}</p>
                <div class="views">
                    <p>{{ post['views'] }}</p>
                    <img src="{{ url_for('static', filename='img/views.svg') }}" alt="views" width="34">
                </div>
            </div>
        </div>

        <a href="/post/{{ username }}/{{ post['number'] }}">
            <button class="full_post_btn">Show more</button>
        </a>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}